<div class="mg-t-15">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 mg-t-30">
      <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><b>{{product.subcat|uppercase}} <i class="glyphicon glyphicon-menu-right"></i> {{product.name|uppercase}}</b></h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <form class="form-horizontal" name="productForm">
              <div class="col-xs-12 col-sm-3">
                 <img src="/images/product1.jpg"/>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <label class="col-xs-12 col-sm-2 control-label">ID :</label>
                  <div class="col-xs-12 col-sm-10">
                    <span class="form-control">{{product._id  }}</span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-xs-12 col-sm-2 control-label">Nom :</label>
                  <div class="col-xs-12 col-sm-10">
                    <input ng-model="product.name" Type="text" class="form-control" value="{{product.name}}" placeholder="Nom...">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-xs-12 col-sm-2 control-label">Prix :</label>
                  <div class="col-xs-12 col-sm-10">
                    <input ng-model="product.price" Type="text" class="form-control" value="{{product.prix}}" placeholder="Prix...">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-xs-12 col-sm-2 control-label">Tag :</label>
                  <div class="col-xs-12 col-sm-10">
                    <input ng-model="product.tag" Type="text" class="form-control" value="{{product.tag}}" placeholder="Prix...">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-xs-12 col-sm-2 control-label">Description :</label>
                  <div class="col-xs-12 col-sm-10">
                    <input ng-model="product.description" Type="textarea" class="form-control" value="{{product.description}}" placeholder="Description...">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-xs-12 col-sm-2 control-label">Couleur :</label>
                  <div class="col-xs-12 col-sm-10">
                    <input ng-model="product.color" Type="text" class="form-control" value="{{product.color}}" placeholder="Couleur...">
                  </div>
                </div>
                <div ng-repeat="s in product.size">
                  <div class="form-group">
                    <label class="col-xs-12 col-sm-2 control-label">Taille :</label>
                    <div class="col-xs-12 col-sm-10">
                      <input ng-model="s.size_name" Type="text" class="form-control" value="{{s.size_name}}" placeholder="Taille...">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-xs-12 col-sm-2 control-label">Quantité :</label>
                    <div class="col-xs-12 col-sm-10">
                      <input ng-model="s.quantity" Type="text" class="form-control" value="{{s.quantity}}" placeholder="Quantity...">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-3">
                <button ng-click="reset()" type="button" name="Reset" class="btn btn-success mg-b-15  col-xs-12">
                  <i class="glyphicon glyphicon-repeat"></i> Réinitialiser
                </button>
                <button ng-confirm="Enregistrer les modifications ?" ng-disabled="productForm.$invalid" ng-click="modify(product)" type="submit" name="Modifier" class="btn btn-warning mg-b-15 col-xs-12">
                  <i class="glyphicon glyphicon-ok"></i> Modifier
                </button>
                <button ng-click="delete(product)" ng-confirm="Supprimer cet utilisateur ?" type="button" name="Supprimer" class="btn btn-danger mg-b-15 col-xs-12">
                  <i class="glyphicon glyphicon-remove"></i> Supprimer
                </button>
                <a href="admin#/products" class="btn btn-primary mg-b-15 col-xs-12">
                  <i class="glyphicon glyphicon-list-alt"></i> Retour à la liste
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
  </div>
</div>
