<div ng-app="homepage_app">
  <section id="section1" class="background-color-white">
    <carousel interval="3000" no-pause="true">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <h3>{{slide.text}}</h3>
        </div>
      </slide>
    </carousel>
  </section>
  <section id="section2" class="globalPadding">
    <div class="col-sm-12 bg-grey pad-b-30">
      <h3 class="fancy text-center">
        <span>Nouveautés</span>
      </h3>
      <div class="article-list">
        <div ng-repeat="new in products|filter:{tag: new}|limitTo: 8" class="mg-bt-30 article">
          <a href="#/descriptionproduit/{{new._id}}">
            <img src="{{new.picture}}"/>
            <h3>{{new.name}}</h3>
            <p>{{new.description}}</p>
            <p>{{new.price}} €</p>
            <button class="btn btn-jismen-alt col-xs-12"><i class="fa fa-heart"></i> Coup de coeur</button>
          </a>
        </div>
      </div>
    </div>

    <div class="background-home-image">
      <div class="container-fluid content-text">
        <div class="col-xs-12  col-sm-4 col-sm-offset-4 center mg-bt-120">
          <div class="bordered">
            <h1>Restez tendance avec notre newsletter mensuelle !</h1>
            <a href="" class="btn mg-t-30">
              <i class="fa fa-heart-o fa-lg"></i> Je m'inscris !
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 mg-t-30 ">
      <h3 class="fancy text-center">
        <span>Bons plans</span>
      </h3>
      <div class="article-list">
        <div ng-repeat="promo in products|filter:{tag: new}|limitTo: 8" class="article">
          <a href="#/descriptionproduit/{{promo._id}}">
            <img src="{{promo.picture}}"/>
            <h3>{{promo.name}}</h3>
            <p>{{promo.description}}</p>
            <p>{{promo.price}} €</p>
            <button class="btn btn-jismen-alt col-xs-12"><i class="fa fa-heart"></i> Coup de coeur</button>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
