html body {
  height: 100%;
  font: 14px;
  font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 21px;
}

a {
  color: #00B7FF;
  outline: medium none;
  text-decoration: none;
  transition: all 0.2s ease-in 0s;
}

/***************************
********** GENERAL **********
******************************/
*::-moz-selection {
    background: #4bb777 none repeat scroll 0 0;
    color: #ffffff;
}

.clear{
  clear: both;
}

.no-margin{
  margin: 0 !important;
}
.no-padding{
  padding: 0 !important;
}

.no-puce{
  list-style: outside none none;
}

.bold{
  font-weight: bold;
}

.center {
  text-align: center;
}

.middle {
  text-align: center;
  margin-top: 30px;
}
.flt-r{
  float: right;
}

.btn-nobg {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #fff;
}

.nav > li.active, .nav > li > a:hover, .nav > li > a:focus, .nav > li:hover > a {
  background: #27AE60  none repeat scroll 0 0;
}

ul, ol{
  margin: 0;
  padding: 0;
}

.globalPadding {
  padding: 50px 0;
}
.text-center {
  text-align: center;
}

.mg-t-15{
  margin-top: 15px;
}
.mg-b-15{
  margin-bottom: 15px;
}
.mg-t-30{
  margin-top: 30px;
}
.mg-b-30{
  margin-bottom: 30px;
}

.form-group .input-group{
  margin-left: 0;
}

.panel-heading{
  background: #4EC67F !important;
  color: #FFF !important;
}

/**************************
********* FOOTER ***********
*****************************/

#footer{
  background: #4EC67F !important;
  color: #FFF;
}

#footer a{
  color: #FFF;
}

/**************************
********* NAVBAR ***********
*****************************/
.navbar-fixed-top{
  background-color: #4EC67F;
}

.navbar-fixed-top a{
  color: #FFFFFF;
}

.navbar-top{
  background-color: #4BB777;
  text-transform: uppercase;
  height: 30px;
  font-size: 11px;
  font-weight: bold;
  line-height: 30px;
}
.navbar-top a:hover{
  text-decoration: none;
}

.navbar > li > a {
  color: #ffffff !important;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 0;
  padding-bottom: 15px;
  padding-top: 15px;
}


ul .userMenu{
  list-style: outside none none;
}

.userMenu li{
  display: block;
  float: left;
}

.userMenu li a{
   color: #FFFFFF;
   display: block;
   float: right;
   font-size: 12px;
   line-height: 30px;
   padding: 0 20px 0 0;
   text-decoration: none;
   transition: opacity 0.2s ease-out 0s;
   -webkit-transition: opacity 0.21s ease-out 0s;
   -moz-transition: opacity 0.2s ease-out 0s;
   -ms-transition: opacity 0.2s ease-out 0s;
   -o-transition: opacity 0.2s ease-out 0s;
}

.cartMenu{
  display: block;
  float: left;
}

.cartMenu a.dropdown-toggle {
    color: #ffffff;
    display: block;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 15px 20px;
    text-transform: uppercase;
}

/**************************
********** MAIN ************
*****************************/

.item{
  height: 85vh;
}

.item img{
  max-height: 85vh;
}
#main,
#signup{
  margin-top: 80px;
}

#login {
  margin-top: 25%;
  background: #dddddd !important;
}

.input-group {
  margin: 10px;
  width: 100%;
}

.input-group-addon {
  width: 100px;
}

.fancy {
  overflow: hidden;
  text-align: center;
  margin-bottom: 30px;
}

.fancy span {
  position: relative;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 24px;
}

.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  width: 100%;
  height: 1px;
  top: 50%;
  margin-top: -4px;
}

.fancy span:before {
  right: 100%;
  margin-right: 15px;
}

.fancy span:after {
  left: 100%;
  margin-left: 15px;
}

.container .navbar-collapse .navbar-nav .dropdown-menu .line-separation{
  border-bottom: 1px solid #EDEDED;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.container .navbar-collapse .navbar-nav .dropdown-menu .description{
  font-weight: normal;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555;
}

.container .navbar-collapse .navbar-nav .dropdown-menu .left-part{
  margin-left: 20px;
  float: left;
}

.background-home-image{
  background: url("/images/fond-groupedefille.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.background-home-image .containt-text{
  padding: 100px 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.background-color-white{
  background-color: #fff;
}

.bg-grey{
  background-color: #EDEEF0;
}

.navbar-right .search-box{
  float: right;
}

/*Home page*/
.col-sm-3 .product-image-wrapper .single-products .productinfo .add-to-cart
{
  background-color: #4169E1;
  font-size: 22px;
  color: #fff;
  font-weight: 300;
  text-decoration: none;
  border: 1px solid #4169E1;
  border-radius: 3px;
  margin-bottom: 15px;
}

/*Signup*/
#signup.container-fluid{
  font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#signup.container-fluid .center-formulaire,
#connexion.container-fluid .center-formulaire{
  margin: 0 auto;
  text-align: center;
}

.container-fluid .center-formulaire .user-content .line-serparator-blue{
  border: solid 1px #00CCFF;
  width: 250px;
  margin: 10px auto;
}

.container-fluid .center-formulaire .user-content .pas-encore-membre .free-registration{
  border-top: solid 2px #00CCFF;
  margin: 0 auto;
  padding:10px;
}

.container-fluid .center-formulaire .user-content .mdp-oublie .free-registration{
  padding: 10px 65px;
  border-bottom: solid 2px #00CCFF;
  margin: 10px auto;
}


.container-fluid .center-formulaire .user-content .form-inputs{
  margin-bottom: 15px;
}

.container-fluid .center-formulaire .user-content .form-inputs.center-block{
  display: table;
  margin: 0 auto;
}

.center-formulaire .user-content .form-inputs input{
  width:250px;
  padding: 12px 20px;
  background-color: #FFF;
  color: #404040;
  font-size: 14px;
  border: 1px solid #D1DEEB;
  line-height: 22px;
  height: 45px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.center-formulaire .user-content .form-inputs label{
  display: table-cell;
  vertical-align: middle;
  padding-left: 10px;
}

.center-formulaire .user-content .form-inputs input.checkbox{
  width: auto;
  display: inline-block;
}

.center-formulaire .user-content .form-inputs .enregistrer,
.center-formulaire .user-content .form-inputs .validation{
  background-color: #4169E1;
  font-size: 26px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid #4169E1;
  border-radius: 3px;
}

#signup.container-fluid .title,
#connexion.container-fluid .title{
  font-size: 30px;
  font-weight: 300;
  color: #555;
}

#signup.container-fluid .margin-bottom-30px,
#connexion.container-fluid .margin-bottom-30px{
  margin-bottom: 30px
}

/**************
***** Admin *****
******************/
.table-hover > tbody > tr:hover {
  background: #4EC67F;
  color: #FFF;
}

.clickable{
  cursor: pointer;
}
