<div class="mg-t-15" style="color: #FFF;">
  <!-- Users -->
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 mg-t-30" style="background: #7761A7;">
    <div class="col-xs-12 col-sm-5 center">
        <h1>{{users.length}}</h1>
        <p>Utilisateurs inscrits</p>
    </div>
    <div class="col-sm-2">
      <i class="fa fa-users" style="font-size: 100px;"></i>
    </div>
    <div class="col-xs-12 col-sm-5 center">
        <h1>{{(users).length}}</h1>
        <p>Aujourd'hui</p>
    </div>
  </div>
  <!-- /Users -->
  <!-- Comments -->
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 mg-t-30" style="background: #19B698;">
    <div class="col-xs-12 col-sm-5 center">
        <h1>{{comments.length}}</h1>
        <p>Commentaires postés</p>
    </div>
    <div class="col-xs-12 col-sm-2">
      <i class="fa fa-comments" style="font-size: 100px;"></i>
    </div>
    <div class="col-xs-12 col-sm-5 center">
        <h1>{{(comments|filter:{date: curDate}).length}}</h1>
        <p>Aujourd'hui</p>
    </div>
  </div>
  <!-- /Comments -->
  <!-- Products -->
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 mg-t-30" style="background: #EA6153;">
    <div class="col-xs-12 col-sm-5 center">
        <h1>{{products.length}}</h1>
        <p>Articles créés</p>
    </div>
    <div class="col-xs-12 col-sm-2">
      <i class="fa fa-shopping-cart" style="font-size: 100px;"></i>
    </div>
    <div class="col-xs-12 col-sm-5 center">
        <h1>{{(products).length}}</h1>
        <p>Aujourd'hui</p>
    </div>
  </div>
  <!-- /Products -->
  <div class="" style="color: #000">
  </div>
</div>
