	<div class="mg-t-15" ng-app="admin_app">
      <!-- Search bar -->
			<div class="col-xs-12 col-sm-6 col-sm-offset-3 bordered-white" style="">
		    <div class="col-sm-6">
		      <div class="input-group">
		        <div class="">
		          {{(products|filter:recherche).length}} articles trouvés :
		        </div>
		      </div>
		    </div>
		    <div class="col-sm-6">
		      <div class="input-group">
		        <input type="text" name="recherche" class="form-control" placeholder="Filtre..." ng-model="recherche">
		        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
		      </div>
		    </div>
		  </div>
      <!-- /Search bar -->
    	<div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="panel panel-default mg-t-30">
          <div class="panel-heading center">
            <h1>ARTICLES</h1>
          </div>
					<div class="panel-content">
						<a href="#/new/products/" class="btn btn-jismen" style="width:100%">
							<i class="fa fa-plus"></i>
							Créer un nouvel article
						</a>
						<table ng-repeat="categorie in categories" class="table">
							<tr><th>{{categorie.name|uppercase}}</th></tr>
							<tr ng-repeat="subcat in categorie.subcat"><td>
								<table class="table table-hover">
									<thead>
										<tr><th>{{subcat.subcat_name|uppercase}}</th></tr>
									</thead>
									<tbody>
										<tr ng-repeat="product in products|filter:subcat.subcat_name" ng-click="selectProduct(product._id)" class="clickable">
											<td>
												{{product.name}}
											</td>
										</tr>
										<!-- <tr ng-repeat="product in subcat.products|filter: recherche track by $index" ng-click="selectProduct(product)" class="clickable">
											<td>
												{{ (products|filter:product)[0].name }}
											</td>
										</tr> -->
									</tbody>
								</table>
							</td></tr>
						</table>
					</div>
        </div>
      </div>
  	</div>
