<div class="mg-t-15">
  <!-- Search bar -->
  <div class="col-xs-12 col-sm-6 col-sm-offset-3" style="">
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
      <input type="text" name="recherche" class="form-control" placeholder="Filtre..." ng-model="recherche">
    </div>
  </div>
  <!-- /Search bar -->
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 alert alert-info">
    {{(users|filter:recherche).length}} utilisateurs trouvés
  </div>

  <div class="col-xs-12 col-sm-8 col-sm-offset-2 mg-t-30">
    <div class="panel panel-default">
      <div class="panel-heading center">
        <h1>Utilisateurs</h1>
      </div>
      <div class="panel-content">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>
                Nom
              </th>
              <th>
                Role
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="user in users|filter:recherche|orderBy:'name'" class="clickable" ng-click="selectUser(user)">
              <td>
                <b>{{user.name}} {{user.firstname}}</b>
              </td>
              <td>
                {{user.role}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
